/**
color
 */

$darkgray: #333;
$gray: #666;
$lightgray: #999;

$darkwhite: #eaeaea;
$white: #fafafa;
$lightwhite: white;

$darkblue: midnightblue;
$blue: blue;
$lightblue: lightblue;

// color configs
$primary-background-color: $darkgray;
$secondary-background-color: $gray;

$primary-color: $white;
$secondary-color: $lightwhite;



/**
width and sizes
 */

$heightHeader:25px;
$widthSideBarLeft:245px;
$widthSideBarRight:245px;
